# Python
__pycache__/
*.py[cod]
*$py.class

# Virtual Environment
venv/
env/
ENV/

# IDE
.vscode/
.idea/

# Archivos temporales
*.log
*.json
*.tmp
rework_changes.txt
specific_rework_changes.txt
rework_percentage.txt

# Archivos de Docker
.docker/

# Sistema operativo
.DS_Store
Thumbs.db
